@font-face {
 font-family: "Gabriola";
 src: url("./assets/fonts/Gabriola.woff2") format("woff2"),
        url("./assets/fonts/Gabriola.woff") format("woff");
font-display: swap;
}

@font-face {
 font-family: "Louise-Regular";
 src: url("./assets/fonts/Louise-Regular.woff2") format("woff2"),
        url("./assets/fonts/Louise-Regular.woff") format("woff");
 font-display: swap;
}

a{
  text-decoration: none;
}

.app{
  width:100%;
  font-family: Gabriola,'Times New Roman', serif;
}

.index{
  background-color: #b6ad9e;
  background-image: url("./assets/accueil-bg.jpg");
  background-size: contain;
}

.infos-res{
}

.ferme-trompes{
}

.bg-res-1{
    background-image: url("./assets/infos-res-header.jpg");
    background-size: cover;
    background-position: center;
    height:100%;
}
.bg-res-2{
      background-image: url("./assets/infos-res-section2.jpg");
      background-size: cover;
      background-position: center;
      height:100%;
}
.bg-res-3{
      background-image: url("./assets/infos-res-section3.jpg");
      background-size: cover;
      background-position: center;
      height:100%;
}
.bg-res-4{
      background-image: url("./assets/infos-res-section4.jpg");
      background-size: cover;
      background-position: center;
      height:100%;
}

.bg-trompes-1{
  color:white;
  background-image: url("./assets/ferme-trompes-header.jpg");
  background-size: cover;
  background-position: center;
  height:100%;
}

.bg-trompes-2{
  color:black;
  background-image: url("./assets/ferme-trompes-section2.jpg");
  background-size: cover;
  background-position: center;
  height:100%;
}

.bg-trompes-3{
  color:black;
  background-image: url("./assets/ferme-trompes-section3.jpg");
  background-size: cover;
  background-position: center;
  height:100%;
}

.bg-trompes-4{
  width:100%;
  height:auto;
}
.relative{
  position:relative;
}

.absolute{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.title-img{
  width: 100%;
  max-width: 1100px;
  height: auto;
  min-height: auto;
  align-self: flex-start;
}

.title-img-trompes-container{
  display: flex;
  width: 100%;
  margin:2rem;
  justify-content:center;
}

.no-underline{
  text-decoration:none;
}

.container{
  padding: 1.5rem 0;
  margin:0 1.2rem;
}

.bottom-right-container{
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.container-center{
  display: flex;
  justify-content: center;
}

.complet-container{
  margin-top: 1rem;
}

.complet-container{
  margin-top: 0rem;
}

.complet-text{
  font-size: 1.5rem;
  line-height: 0rem;
}

.text-center {
  text-align: center;
}

a{
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}


*{
  font-size:1.3rem;
  font-family: inherit;
}

.ff1{
  font-family: Louise-Regular,'Brush Script MT', cursive;
}

.ff2{
  font-family: Gabriola,'Times New Roman', serif;
}

.text-bigger{
  font-weight: 600;
}

.header-1{
  font-size:4rem;
  margin:0 3rem;
  padding:1rem 0;
  padding-top:2rem;
}

.h1-trompes{
  font-size:6rem;
  font-weight: 100;
  font-family: Louise-Regular,'Brush Script MT', cursive;
}
.h2-trompes{
    font-family: Louise-Regular,'Brush Script MT', cursive;
}

.h1-res{
    font-size:6rem;
    font-family: Louise-Regular,'Brush Script MT', cursive;
}

.h1-res-2{
    font-size:6rem;
    font-family: Louise-Regular,'Brush Script MT', cursive;
}
.h2-res{
    font-weight: 500;
    font-family: Louise-Regular,'Brush Script MT', cursive;
}

.spacer{
  display:flex;
  justify-content: space-around;
  margin-top:1rem;
  flex-direction: column;
}

.spacer-text-top{
  text-decoration:none;
  font-family: Louise-Regular,'Brush Script MT', cursive;
  font-size: 1.5rem;
  margin-top:1rem;
}
.spacer-text-bottom{
  text-decoration:none;
  align-self: end;
  font-size: 1.5rem;
  font-family: Louise-Regular,'Brush Script MT', cursive;
  margin-bottom: 1rem;
}

.ball-pair{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
}

.ball-pair .ball-container{
    margin-top: 2rem;
}

.ball-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
}

.ball-bg{
  position:absolute;
  width:8rem;
  height: 8rem;
  border-radius: 50%;
  background:#1c1e1b;
  background-image: url("./assets/ball2.jpg");
  background-size: cover;
  background-position: center;
}

.ball-container:before{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items:center;
  content:"";
  width:7.5rem;
  height:7.5rem;
  box-shadow: 0px 0px 90px 32px rgb(0 0 0 / 70%);
  border-radius: 50%;
}

.ball-bg:before{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items:center;
  content:"";
  width:8rem;
  height:8rem;
  box-shadow: inset 0px 0px 11px 2px rgb(16 19 15);
  border-radius: 50%;
}

.ball{
  transition: all .3s;
  color:white;
  fill:white;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  margin: 0;
  text-decoration:none;
  font-family: Louise-Regular,'Brush Script MT', cursive;
}

.ball:hover{
    color:antiquewhite;
    fill:antiquewhite;
    box-shadow: 0 0 25px rgb(82 82 82 / 86%);
}

.ball-date{
  position: absolute;
  top:0;
  left:0;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.ball-group-name{
  font-size: 1rem;
}

.ball-instrument{
  position:absolute;
  top:60%;
  left:35%;
  font-size:1.2rem;
  font-family: Gabriola,'Times New Roman', serif;
}

.ball-reservation{
  text-decoration:none;
  margin-bottom:1rem;
  font-size:1.5rem;
  font-family: Louise-Regular,'Brush Script MT', cursive;
}
textPath{
  font-size:3rem;
  font-weight: 500;
  letter-spacing: 1px;

}
.text-path-header{
  font-size:5.5rem;
}

.button-res{
  background: black;
  color:white;
  font-size:3rem;
  text-decoration: none;
  padding:0.5rem 1rem;
  transition: all .3s;
}
.button-res:hover{
  color:antiquewhite;;
  box-shadow: 0 0 25px rgb(82 82 82 / 86%);
}

.link-dark,.link-light,.link-img-light{
  transition: all .3s;
}

.link-dark:hover{
    color:antiquewhite;
    text-shadow: 0 0 25px rgb(82 82 82 / 86%);
}

.link-light:hover{
    text-shadow: 0 0 25px rgb(82 82 82 / 86%);
}

.link-img-light:hover{
  box-shadow: 0 0 25px rgb(82 82 82 / 86%);
}

.link-footer{
  margin-left: 1rem;
}

.img-carte-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-carte{
    max-width:1100px;
    width: 100%;
    height: auto;
    min-height: auto;
    align-self: flex-start;
}




@media screen and (min-width: 480px)
{

  .spacer{
    margin-top: 3rem;
    flex-direction: row;
  }

  .spacer-text-top{
    font-size: 1.5rem;
    margin-top:1.7rem;
  }
  .spacer-text-bottom{
    font-size: 1.5rem;
    margin-bottom: 1.7rem;
  }

  .ball-pair{
    flex-direction: row;
    margin: 2rem 0;
  }

  .ball-container{
    margin: 0;
  }

  .spacer-text-top{
    font-size: 1.2rem;
  }
  .spacer-text-bottom{
    font-size: 1.2rem;
  }

  .link-footer{
    margin-left: 2rem;
  }

}
@media screen and (min-width: 1000px)
{

  *{
    font-size:1.5rem;
  }

  .container{
    padding: 1.5rem 0;
    margin:0 4rem;
  }

  .header-1{
    font-size:4rem;
  }

  .h1-trompes{
    font-size:6rem;
    font-weight: 100;
  }

  .h1-res{
      font-size:6rem;
  }

  .h1-res-2{
      font-size:6rem;
  }

  .complet-text{
    margin-top: 0rem;
    font-size: 2.5rem;
  }

  .spacer{
    display:flex;
    justify-content: space-around;
    margin-top:1rem;
  }

  .spacer-text-top{
    font-size: 2.2rem;
  }
  .spacer-text-bottom{
    font-size: 2.2rem;
  }


  .ball-bg{
    width:12rem;
    height: 12rem;
  }

  .ball-container:before{
    width:11rem;
    height:11rem;
    box-shadow: 0px 0px 90px 32px rgb(0 0 0 / 70%);
  }

  .ball-bg:before{
    content:"";
    width:12rem;
    height:12rem;
  }


  .ball{
    height: 12rem;
    width: 12rem;
  }


  .ball-instrument{
    font-size:1.7rem;
  }

  .ball-reservation{
    font-size:4rem;
  }

  .text-path-header{
    font-size:4.5rem;
  }

  .button-res{
    font-size:3rem;
  }

}
